#app {
    display: grid;
    place-content: center;
    height: 100vh;
    /* Adjusted to cover full viewport height */
    width: 100vw;
    /* Adjusted to cover full viewport width */
    background-image: url('/src/img/chessimage.jpg');
    /* Add your background image path here */
    background-size: cover;
    /* Cover the entire viewport */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent repeating the background image */
}